* {
    font-family: 'DM Sans';
    background-color: #c9c9c9;
    padding: 10px;
}

a {
    background-color: #fff;
    font-size: 15px;
}

p {
    font-size: 15px;
    background-color: #fff;
    
}

.container{
    background-color: #fff;
    height: 80vh;
    
}

#title{
    color: red;
}

.button-container{
    background-color: #fff;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.button{
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    padding-top: 1.5vh;
    padding: none;
    height: 3vh; 
    width: 10vw;   
    align-items: center;
}

.button:hover{
    background-color: #064a75;
}

.txt-box{
    background-color: #fff;
    border-style: solid;
    border-radius: 10px;
    width: 20vw;

}

#sub-button{
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    padding: none;
    height: 5vh; 
    width: 10vw;   
    margin-bottom: 10px;
    align-items: center;
}

#sub-button:hover{
    background-color: #064a75;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    padding: 10px 50px 0px 100px;
    width: 50vw;   
    background-color: #fff;
    margin-left: 200px;
}

.gr-item{
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    background-color: #fff;
}
