* {
    font-family: 'DM Sans';
    padding: 5px;
}

body{
    
    margin-left: 10vw;
    width: 80vw;
    background-image: linear-gradient(60deg, #74ff67, #72c3f5);
    padding: 5px;
}

h1{
    font-weight: bolder;
}

h2{
    font-weight:bold;
    font-size: 2vw;
}

h3{
    font-size: 1.2vw;
}

a {
    font-size: 15px;
}

p {
    font-size: 15px;
    color: #303030
}

#app-name{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    text-align: center;
    background-color: #1c87c9;
}

.container{
    background-color: #fff;
    height: 80vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    padding: 0px;
}

#title{
    color: red;
}

.b-container{
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button{
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    padding-top: 1.5vh;
    padding: none;
    height: 3vh; 
    width: 10vw;   
    align-items: center;
}

.button:hover{
    background-color: #064a75;
}

.txt-box{
    border-style: solid;
    border-radius: 10px;
    width: 20vw;
}

#sub-button{
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    padding: none;
    height: 5vh; 
    width: 10vw;   
    margin-bottom: 10px;
    align-items: center;
}

#sub-button:hover{
    background-color: #064a75;
}

.grid-container{
    display: grid;
    background-image: linear-gradient(120deg, #35e625, #299be2);
    padding: 0px 10px 0px 10px;
    padding-bottom: 2px;
    margin: 0px 0px 0px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 10vw 10vw;
}

.grid-container-2{
    display: grid;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 10vw 10vw;
}

.gr-item{
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin-block: auto;
}

.edit-container{
    display: grid;
    padding: 10px 45px 10px 45px;
    margin: 0px 10px 0px 10px;
    text-align: center;
}

.sec-container{
    display: grid;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: -10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 40vw;
}
